@media (max-width: 960px) {

/****************************************

		基本

*****************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.pc { display:none !important; }
.sp { display:block; }


/****************************************

		ヘッダー

*****************************************/

header .logo {
    display: inline-block;
    height: 20px;
    margin: 30px auto 0 auto;
}

nav {
    margin: 26px auto 0px auto;
    text-align: center;
}
nav a {
    width: 28%;
    padding: 3px 10px;
    text-align: center;
}

/****************************************

		WORKS

*****************************************/

#works {
    margin: 20px 10px 0px 10px;
}

#works #modal {
    width: 43%;
    margin: 15px 10px 0;
}
    
.remodal p {
    position: relative;
    bottom: auto; left: auto; right: auto;
    text-align: left;
}
.remodal .mark {
    margin: 8px 0;
}
.remodal .mark span {
    width: 32%;
    margin: 0;
    padding: 0;
    font-size: 9px !important;
}

#photos {
    padding: 20px 0 0 0;
    border-top: 1px solid #e5e5e5;
}
#photos #modal {
    width: 27%;
    margin: 10px 10px 0;
}
 
.photov .mark {
    position: relative;
    top: auto; left: auto; right: auto;        
}
.photov .mark span {
    display: inline-block;
}


/****************************************

		PROFILE

*****************************************/


#profile { 
    display: block;
    margin: 20px 25px 30px 25px;
}

#profile #details {
    width: 100%;
    margin: 0 0 30px 0;
    border: none;
}

#profile #details h1 {
    font-size: 13px;
}

#profile #details dt,
#profile #details dd {
    display: block;
    border-bottom: 1px dotted #ddd;
    vertical-align: top;
    font-size: 12px;
}
#profile #details dt {
    width: 100%;
    margin: 0;
    padding: 10px 10px 6px 0px;
    border: none;
    font-weight: bold;
}
#profile #details dd {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0 10px 15px 20px;
}

#profile #task {
    clear: both;
    display: block;
    border: none;
    border-radius: 2px;
}

#profile #task h1 {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 14px;
}

#profile #task ul {
    margin: 0 0 0 10px;
}
#profile #task li {
    margin: 0 0 25px 0;
}
#profile #task i {
    width: 20px;
    margin: 0 3px 0 0;
}

/****************************************

		ナビ

*****************************************/

nav a {
    font-size: 10px;
}

.navi span {
    font-size: 8px;
    color: #ccc;
}

#totop a {
    line-height: 24px;
    font-size: 15px;
}
