/****************************************

		基本

*****************************************/

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

section , article , footer , aside { display:block; }

* {
    margin:0;
	padding:0;
	border:none;
	list-style:none;
	text-decoration:none;
}

body {
	background:#fff;
	letter-spacing:1px;
	font:14px/1.7 'Noto Sans JP',"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif,"verdana";
	color: #333;
}

a {
    color: #19448e;
    text-decoration: none;
}

.pc {
    display: block;
}
.sp {
    display: none;
}

.aright {
    text-align: right;
}
.aleft {
    text-align: left !important;
}
.acenter {
    text-align:center;
}


/****************************************

		ヘッダー

*****************************************/

header {
    position: relative;
    text-align: center;
}

header .logo {
    display: inline-block;
    height: 20px;
    margin: 40px auto 0 auto;
}
header .logo img {
    height: 100%;
}

header span {
    position: relative;
    top: 8px;
    display: block;
    font-size: 8px;
    color: #ccc;
    letter-spacing: 2px;
}

nav {
    margin: 30px auto 0px auto;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 3px 58px;
    margin: 0 0;
    background: #f5f5f5;
    border-radius: 2px;
    color: #333;
    transition: 0.2s;
    font-size: 12px;
}
nav a:hover {
    
}

.navi a.on {
    color: #fff !important;
    background: #fab001;
}


/****************************************

		WORKS

*****************************************/

section {
    margin: 30px 0 50px 0;
    text-align: left;
}

#works { 
    display: flex;
    flex-wrap: wrap;
    margin: 30px 25px 20px 25px;
    text-align: center;
    justify-content: center;
}

#works #modal {
    width: 30%;
    margin: 15px 15px;
}

#works a {
    display: inline-block;
    width: 100%;
}

#works img {
    width: 100%;
    border-radius: 3px;
    border: 0.5px solid #ddd;
    box-sizing: border-box;
    transition: 0.2s;
}
#works img:hover,
#photos img:hover{
    transform:scale(1.03);
}

.note {
    margin: 20px 0 0 0;
    font-size: 11px;
    color: #999;
}

.remodal {
    position: relative;
    padding: 25px !important;
    border-radius: 4px;
}

.remodal .mark {
    position: relative;
    margin: 10px 0 0 0;
    text-align: left;
}

.remodal .mark span {
    display: inline-block;
    width: 90px;
    margin: 0 5px 0 0;
    padding: 2px 0;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
}
.remodal .mark span.wdesign {
    background: #FFD9EA;
    color: #ED80B1;
}
.remodal .mark span.coding {
    background: #D9ECFF;
    color: #80B1ED;
}
.remodal .mark span.cms {
    background: #E5F7E8;
    color: #AAC7AF;
}
.remodal .mark span.seo {
    background: #FFEBD4;
    color: #D9B285;
}

.remodal p {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 10px;
    color: #ccc;
}

.remodal img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.remodal-cancel {
    position: absolute !important;
    right: -40px !important;
    top: 0px !important;
    padding: 0 !important;
    background: none !important;
    color: #333 !important;
    font-size: 16px !important;
}


#photos { 
    display: flex;
    flex-wrap: wrap;
    margin: 30px 25px 50px 25px;
    text-align: center;
    justify-content: center;
    
    padding: 30px 0 0 0;
    border-top: 1px solid #ececec;
}
#photos img {
    transition: 0.2s;
}
#photos #modal {
    width: 15%;
    margin: 20px 20px;
}
#photos #modal img {
    width: 100%;
    border-radius: 2px;
}

.photov img {
    height: 500px !important;
    width: auto;
    vertical-align: top;
    border-radius: 2px;
}

.photov .mark {
    position: absolute;
    top: 30px;
    right: 50px;
    margin: 10px 0 0 0;
    text-align: left;
}
.photov .mark span {
    display: block;
    margin: 0 0 10px 0;
}

.photov .kindle {
    padding: 0 40px 0 0;
}


/****************************************

		PROFILE

*****************************************/

#profile { 
    display: flex;
    flex-wrap: wrap;
    margin: 30px 25px 50px 25px;
    justify-content: center;
}

#profile #details {
    flex: 2;
    margin: 0 20px 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
#profile #details h1 {
    margin: 30px 0 20px 0;
    text-align: center;
    font-size: 14px;
}

#profile #details dl {
    width: 100%;
}
#profile #details dt,
#profile #details dd {
    display: inline-block;
    padding: 20px;
    border-bottom: 1px dotted #ddd;
    vertical-align: top;
}
#profile #details dt {
    width: 30%;
    margin: 0 0 0 20px;
}
#profile #details dd {
    width: calc(100% - 36%);
}

#profile #details dt:last-of-type,
#profile #details dd:last-of-type {
    border: none !important;
}

#profile #details .flickr {
    position: relative;
    top: -1px;
    width: 16px !important;
    display: inline;
}
#profile #details i {
    color: #000;
}

#profile #task {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#profile #task h1 {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 14px;
}

#profile #task ul {
    margin: 0 0 0 20px;
}
#profile #task li {
    margin: 0 0 15px 0;
}
#profile #task i {
    width: 20px;
    margin: 0 3px 0 0;
}


#contact {
    padding: 100px 0;
    text-align: center;
}

/****************************************

		フッター

*****************************************/

#totop {
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 20px;
}

#totop a {
    position: relative;
    top: 0;
    display: block;
    width: 32px;
    line-height: 32px;
    margin: auto;
    border-radius: 2px;
    background: #19448e;
    transition: 0.2s;
    color: #fff;
}
#totop a:hover {
    top: -5px;
}

footer {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 12px;
}


/* アニメーション設定 */
.scr-target {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
}
.scr-target.is-active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
    transition: 1.5s;
}
