
/****************************************

		レスポンシブ

*****************************************/

@media (max-width: 960px) {

.pc { display:none !important; }
.sp { display:block; }

header {
    display: block;
}
header .logo {
    display: inline-block;
    height: 16px;
    margin: 18px auto 8px auto;
}

nav {
    margin: 0px auto 0px auto;
    text-align: center;
}

nav a {
    width: 31%;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
}

#drawer_input:checked ~ .nav_content {
    left: 30%;
}
.nav_content {
    width: 100%;
}
.nav_content ul {
    width: 73%;
}
.nav_content li a {
    padding: 10px 0;
    font-size: 0.7rem;
}

#works h1,
#photos h1,
#card h1 {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}
    
    #works {
        margin: 30px 0 0 0;
    }
#works h1 {
    margin: -10px 0 15px 0;
}

    #works .modal {
        width: 42%;
        margin: 3%;
    }
    
.remodal p {
    position: relative;
    bottom: auto; left: auto; right: auto;
    text-align: left;
}
.remodal .mark {
    margin: 8px 0;
}
.remodal .mark span {
    width: 32%;
    margin: 0;
    padding: 0;
    font-size: 9px !important;
}
    .remodal-cancel {
        top: auto !important;
        bottom: 3px !important;
        right: -30px !important;
    }
#photos {
    margin: 30px 0 30px 0;
    padding: 0 0 0 0;
}

#photos h1 {
    margin: -30px 0 10px 0;
}
#photos #modal {
    width: 30%;
    margin: 1% 1% 0 1%;
}
 
.photov .mark {
    position: relative;
    top: auto; left: auto; right: auto;        
}
.photov .mark span {
    display: inline-block;
}


#profile { 
    display: block;
    margin: 30px 15px 30px 15px;
}

#profile #details {
    width: 100%;
    margin: 30px 0 30px 0;
    border: none;
}

#profile #details h1 {
    padding: 15px 0 0 0;
    font-size: 0.6rem;
}

#profile #details dl {
    width: auto;
    margin: 0 20px;
}
#profile #details dt,
#profile #details dd {
    display: block;
    border-bottom: 1px dotted #ddd;
    vertical-align: top;
    font-size: 12px;
}
#profile #details dt {
    width: 100%;
    margin: 0;
    padding: 10px 10px 6px 0px;
    border: none;
    font-weight: bold;
}
#profile #details dd {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0 10px 15px 20px;
}

#profile #task {
    clear: both;
    display: block;
    padding: 0 0 10px 0;
    border: none;
}

#profile #task h1 {
    padding: 15px 0 0 0;
    font-size: 0.6rem;
}

#profile #task ul {
    width: auto;
    margin: 0 0 0 20px;
}
#profile #task li {
    margin: 0 0 25px 0;
}
#profile #task i {
    width: 20px;
    margin: 0 3px 0 0;
}

    #contact {
        margin: 60px 10px 0px 10px;
    }

    .form {
        width: 100%;
        padding: 30px;
    }
    
    .form dl {
        display: block;
    }
    .form dt, .form dd {
        width: 100%;
    }
 
.form .form-actions input {
    width: 70%;
}
    
.screen-reader-response {
    margin: 0 7% 10px 7%;
}
    .wpcf7-not-valid-tip {
        display: block;
    }
    

    #totop {
        margin: 30px 0 50px 0;
    }
    #totop a {
        line-height: 32px;
        font-size: 15px;
    }


/* ハンバーガーメニュー */
#hamburger { display: block; position: fixed; top: 3px; right: 0px; margin: 0 !important; z-index:9999; }
.drawer_hidden { display: none; }
.drawer_open { display: flex; height: 45px; width: 50px; background: #f9f9f9; justify-content: center; align-items: center; position: relative; z-index: 100; cursor: pointer; }
.drawer_open span, .drawer_open span:before, .drawer_open span:after { content: ''; display: block; height: 2px; width: 23px; border-radius: 3px; background: #333; transition: 0.5s; position: absolute; }
.drawer_open span:before { bottom: 8px; }
.drawer_open span:after { top: 8px; }

#drawer_input:checked ~ .drawer_open span { background: rgba(255, 255, 255, 0); }
#drawer_input:checked ~ .drawer_open span::before { bottom: 0; transform: rotate(45deg); }
#drawer_input:checked ~ .drawer_open span::after { top: 0; transform: rotate(-45deg); }
.nav_content { box-shadow: 0 3px 8px rgba(0,0,0,0.4); width: 20%; height: 90%; position: fixed; top: 20px; left: 100%; padding: 10% 0 0 0; border-radius: 8px; z-index: 99; background: #fff; transition: .5s; }
.nav_list { list-style: none; }
#drawer_input:checked ~ .nav_content { left: 80%; background-color: rgba(0, 0, 0, 0.8); }
.nav_content span { display: block; margin: 30px 0 20px 0; text-align: center; font-weight: bold; font-size: 18px; }
.nav_content ul { width: 100%; margin:0 0 0 0; padding: 0; }
.nav_content li { color: #fff; }
.nav_content li a { display: block; width: 75%; margin: 20px auto; padding: 4px 0; background: #fab001; border-radius: 3px; text-align: center; font-size: 0.6rem; font-weight: 700; color:#fff; }
.nav_content .logout a { margin: 60px auto; background: #eee; color: #666; }

.nvworks .onworks a, .nvprof .onprofile a, .nvcontact .oncontact a { background: #f9f9f9; color: #fab001; }
